/* AI_leht_style.css */

/* Body */
body {
    background-image: url('https://images.pexels.com/photos/1263891/pexels-photo-1263891.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2%27'); /* Replace 'your_background_image_url.jpg' with your image URL */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif; /* Choose your preferred font */
    margin: 0;
    padding: 0;
}

/* Header */
h1 {
    text-align: center;
    margin-top: 30px;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px black;
    padding: 10px 20px;
}

/*style for navigation*/
nav {
    background-color: #333; /* Background color for the navigation bar */
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
}

li a.active{
    background-color: darkgreen;
}

/* Poem Box */
.poem {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect if desired */
    float: left;
}

.poem h2 {
    margin-top: 0;
}

/* Image */
img {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 20px auto;
}
